.header {
    padding: 30px 0;
    color: #230270;
    background-color: #4556b6;
    width: 100%;
    text-align: center;
    border-bottom: 5px solid #230270;
    margin-bottom: 0px;
    font-family: 'Yanone Kaffeesatzt', sans-serif;
   
}